<div class="container" ng-controller="HomeCtrl">
    <div class="page-header">
        <h3>List of Meetings from the REST API
      <code>/api/meetings</code>
    </h3>
    </div>
    <div class="page-header">
        <p>Create Randome Meetings</p>
        <input type="text" palceholder="Enter # meeting to create" ng-model="meetingsToCreate"></value>
        <button ng-click="CreateMeetings()">Generate Meetings {{meetingsToCreate}}</button>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Calender Id</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>StartDate</th>
            <th>subject</th>
        </tr>
        <tr ng-repeat="m in meetings">
            <td>{{m.CalendarId}}</td>
            <td>{{m.StartTime| date:'HH:mm:ss'}}</td>
            <td>{{m.Duration}}</td>
            <td>{{m.StartDate| date:'MM/dd/yyyy'}}</td>
            <td>{{m.subject}}</td>
        </tr>
    </table>


</div>