<div class="container" ng-controller="UsersCtrl">
    <div class="page-header">
        <h3>welcome {{ name }}</h3>
    </div>


    <p class="lead">
        <p class="lead">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Updated At</th>
                    <th>Name</th>
                </tr>

                <tr ng-repeat="p in Users">
                    <td>{{p.id}}</td>
                    <td>{{p.updTime| date:'MM/dd/yyyy HH:mm:ss'}}</td>
                    <td>{{p.name}}</td>
                </tr>
            </table>
        </p>

    </p>

</div>